{{- if eq .dev_machine true -}}
unqualified-search-registries = ["docker.io", "quay.io"]

[[registry]]
prefix = "docker.io"
location = "registry-1.docker.io"

[[registry.mirror]]
location = "mirror.gcr.io"

[[registry]]
prefix = "quay.io"
location = "quay.io"

[[registry]]
prefix = "k8s.gcr.io"
location = "k8s.gcr.io"
{{- end }}
