vim-plug.vim:
  type: archive-file
  url: https://github.com/junegunn/vim-plug/archive/refs/tags/0.14.0.tar.gz
  exact: true
  stripComponents: 1
  path: plug.vim
  targetPath: .vim/autoload/plug.vim
  checksum:
    sha256: "a8e86db8c62deefa70057fd0abc81bc20e270ab9811eee3ccbe9ceafd3d8a876"
neovim-plug.vim:
  type: archive-file
  url: https://github.com/junegunn/vim-plug/archive/refs/tags/0.14.0.tar.gz
  exact: true
  stripComponents: 1
  path: plug.vim
  targetPath: .local/share/nvim/site/autoload/plug.vim
  checksum:
    sha256: "a8e86db8c62deefa70057fd0abc81bc20e270ab9811eee3ccbe9ceafd3d8a876"
antidote:
  type: archive
  url: https://github.com/mattmc3/antidote/archive/refs/tags/v2.1.0.tar.gz
  exact: true
  stripComponents: 1
  targetPath: .cache/zsh/antidote
  checksum:
    sha256: "48d486670fa14097ec5a5a649456aff94f0098618c9320ad634f88d0669c8f5b"
  include:
    - "*/antidote"
    - "*/antidote.zsh"
    - "*/functions"
    - "*/functions/*"
tenv:
  type: archive
  url: {{ gitHubReleaseAssetURL "tofuutils/tenv" "v4.14.8" "tenv_*_Linux_x86_64.tar.gz" }}
  targetPath: .local/bin/
  checksum:
    sha256: "7a1774a9422d2713ee2991fff17e615077f340993a086d8ef2c590982950f6b8"
  include:
    - tenv
    - tf
    - terraform
gitstatusd:
  type: archive-file
  url: https://github.com/romkatv/gitstatus/releases/download/v1.5.4/gitstatusd-linux-x86_64.tar.gz
  path: gitstatusd-linux-x86_64
  targetPath: .cache/gitstatus/gitstatusd-linux-x86_64
  checksum:
    sha256: "9633816e7832109e530c9e2532b11a1edae08136d63aa7e40246c0339b7db304"
