#!/usr/bin/env bash

set -eufo pipefail

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $pkgs := .packages.all -}}

{{ if eq .osid "linux-debian" -}}
{{ $pkgs = concat $pkgs .packages.debian -}}

{{ $sudo }} apt install -y {{ $pkgs | join " " -}}
{{ end -}}

{{ if eq .osid "linux-fedora" -}}
{{ $pkgs = concat $pkgs .packages.fedora -}}

{{ $sudo }} dnf install -y {{ $pkgs | join " " -}}
{{ end }}
