let g:vim_bootstrap_langs = "go,python"
let g:vim_bootstrap_editor = "nvim"
let g:vim_bootstrap_theme = "codedark"
let g:vim_bootstrap_frams = ""

" Plug Package Manager
call plug#begin()

" completion
Plug 'neoclide/coc.nvim', {'commit': 'd1689a4876305e5fc6691910c8ee6f1eb5da2219'} " release HEAD
Plug 'neoclide/coc-json', {'do': 'yarn install --frozen-lockfile', 'commit': '1c757f2da923472709ddb17bc29d4a5a0efddefd'} " 1.9.3
Plug 'yaegassy/coc-pylsp', {'do': 'yarn install --frozen-lockfile', 'commit': 'e029406316e92c722a9bda9b7ab7ecff71398bf9'} "v0.13.0
Plug 'josa42/coc-go', {'commit': '20c30ffd61fdfb4b8886d70f71c44affe411a6a2'} " v1.3.35

" syntax
Plug 'kigster/Nmap-syntax-highlight', { 'for': ['nmap','txt'], 'commit': '168786d9a97c81654dd633225a1f45c6d8d43d57' } " HEAD
Plug 'hashivim/vim-terraform', { 'for': 'terraform', 'commit' : '520498fab16a3a11f2ae1b8cb65e0a1684bc317a' } " HEAD
Plug 'fatih/vim-go', { 'as': 'go-syntax', 'rtp': 'syntax_only', 'do': 'mkdir -p syntax_only/{syntax,ftdetect,autoload/go}; cp -f syntax/*.vim syntax_only/syntax; cp -f ftdetect/*.vim syntax_only/ftdetect; cp -f autoload/go/config.vim syntax_only/autoload/go', 'commit': 'afdc93535605efaa4624b4dde296961add89750f' }
Plug 'mustache/vim-mustache-handlebars', { 'for': 'mustache', 'commit': '0153fe03a919add2d6cf2d41b2d5b6e1188bc0e0' }

" indent style
Plug 'lukas-reineke/indent-blankline.nvim', { 'commit': 'd28a3f70721c79e3c5f6693057ae929f3d9c0a03' } " v3.9.1

{{ if eq .chezmoi.os "linux" -}}
" clip
Plug 'jasonccox/vim-wayland-clipboard', { 'commit': 'f1f964a08798f78bc821e0cb155987864cb039d9' }
{{- end }}

" theme
Plug 'tomasiser/vim-code-dark', { 'commit': '4624dc223bf574aa9a731c2383c579847303c380' }

call plug#end()

" Standard options
syntax on
filetype plugin indent on
" set autoindent
set indentexpr &
set nu
set mouse=

source $HOME/.config/nvim/coc.vim
" Use <c-space> to trigger completion
{{ if contains "nvim" .chezmoi.targetFile -}}
inoremap <silent><expr> <c-space> coc#refresh()
{{ else }}
inoremap <silent><expr> <c-@> coc#refresh()
{{ end }}

" XML hack
com! FormatXML :%!python3 -c "import xml.dom.minidom, sys; print(xml.dom.minidom.parse(sys.stdin).toprettyxml())"
nnoremap = :FormatXML<Cr>

" Yaml
"autocmd FileType yaml setlocal ts=2 sts=2 sw=2 expandtab

" associate filetypes
au BufNewFile,BufRead *.md set filetype=markdown
au BufNewFile,BufRead *.nmap set filetype=nmap
au BufNewFile,BufRead *.md setlocal spell spelllang=en_gb
au BufNewFile,BufRead *.txt setlocal spell spelllang=en_gb
au BufNewFile,BufRead Dockerfile* set filetype=dockerfile
au BufNewFile,BufRead Containerfile* set filetype=dockerfile
au BufNewFile,BufRead *.gotmpl set filetype=gohtmltmpl
au BufNewFile,BufRead *.yaml.* set filetype=yaml
au BufNewFile,BufRead .yamllint set filetype=yaml

" show whitespace for languages that care
highlight BadWhitespace ctermbg=red guibg=red
au ColorScheme * highlight BadWhitespace ctermbg=red guibg=red
" trailing whitespace
au BufNewFile,BufRead *.py,*.pyw,*.c,*.h match BadWhitespace /\s\+$/
" trailing whitespace before a tab
au BufNewFile,BufRead *.py,*.pyw,*.c,*.h match BadWhitespace /\s\+$\| \+\ze\t/
" Switch off :match highlighting.
match

{{- if eq $.machine_type "personal" }}
" gopass security
au BufNewFile,BufRead /dev/shm/gopass.* setlocal noswapfile nobackup noundofile
{{- end }}


" allow modelines
set modeline
set modelines=2

" theme
let g:codedark_modern=1
let g:codedark_transparent=1
colorscheme codedark

source $HOME/.config/nvim/statusline.vim

" read line 1
if getline(1) =~ '^#!.*bash.*'
  syntax on
  setfiletype bash
elseif getline(1) =~ '^#!.*zsh.*'
  syntax on
  setfiletype zsh
elseif getline(1) =~ '^Starting Nmap.*'
  syntax on
  setfiletype nmap
elseif getline(1) =~ '^FROM '
  syntax on
  setfiletype dockerfile
endif

" default indentation
set expandtab
set shiftwidth=4
set softtabstop=4
set tabstop=4
set encoding=utf-8

" w!! write override
cmap w!! %!sudo tee > /dev/null %

{{ if contains "nvim" .chezmoi.targetFile -}}
" nvim jump to the last position when reopening a file
au BufReadPost * if line("'\"") > 0 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
set undodir=$HOME/.local/share/nvim/undodir
set undofile
{{- else }}
" Set swap file for classic vim, neovim already does this
set directory^=$HOME/.vim/swap/
{{- end }}

augroup vimrc-auto-mkdir
  autocmd!
  autocmd BufWritePre * call s:auto_mkdir(expand('<afile>:p:h'), v:cmdbang)
  function! s:auto_mkdir(dir, force)
    if !isdirectory(a:dir)
          \   && (a:force
          \       || input("'" . a:dir . "' does not exist. Create? [y/N]") =~? '^y\%[es]$')
      call mkdir(iconv(a:dir, &encoding, &termencoding), 'p')
    endif
  endfunction
augroup END
